@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* ================== GLOBAL ACCENT ================== */
.yellow-accent {
    width: 100px;
    height: 10px;
    background: #FFD400;
    border-radius: 999px;
    margin: 0 auto 35px;
}

.green-accent {
    width: 100px;
    height: 10px;
    background: #FFD400;
    border-radius: 999px;
    margin: 0 auto 12px;
}

/* ================== END GLOBAL ACCENT ================== */

/* ================== GLOBAL BUTTONS ================== */
.btn {
    display: inline-block;
    padding: 12px 30px;
    background: yellow;
    border: yellow 1px solid;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn-transparent {
    display: inline-block;
    padding: 12px 30px;
    background: transparent;
    color: #ffffff;
    text-decoration: none;
    border: #ffffff 1px solid;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-transparent:hover {
    transform: scale(1.05);
}

.buttons {
    display: flex;
    gap: 20px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.social-icons {
    font-size: 30px;
    color: #04293B;
    text-decoration: none;
    transition: 0.3s;

    width: 55px;
    height: 55px;
    background: #ffffff;
    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-icons:hover {
    color: #FFD400;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .btn {
        padding: 8px 16px;
        font-size: 12px;
    }

    .btn-transparent {
        padding: 8px 16px;
        font-size: 12px;
    }

    .buttons {
        gap: 10px;
    }

    .hero-buttons {
        gap: 10px;
        margin-top: 15px;
    }

    .social-icons {
        font-size: 16px;
        width: 40px;
        height: 40px;
    }
}

/* ================== END BUTTONS ================== */

/* ================== HEADER ================== */
header {
    width: 100%;
    background-color: #04293B;
    color: white;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 25px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo1 {
    width: 100px;
}

.logo2 {
    width: 150px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

.buttons-mobile {
    display: none;
}

@media (max-width: 768px) {

    header {
        padding: 15px 20px;
    }

    nav {
        padding: 0;
    }

    .logo1 {
        width: 80px;
    }

    .logo2 {
        width: 120px;
    }

    .menu-toggle {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100px;
        right: 20px;
        background-color: #04293B;
        display: none;
        flex-direction: column;
        gap: 15px;
        width: 180px;
        padding: 20px;
        border-radius: 8px;
    }

    .menu.show {
        display: flex;
    }

    .nav-link {
        font-size: 14px;
        margin: 0;
    }

    .buttons {
        display: none;
    }

    .buttons-mobile {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
}

/* ================== END HEADER ================== */

/* ================== HERO SECTION ================== */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/hero-bg.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 100px 100px 150px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 400px;
}

.hero-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
}

.hero h3 {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 100px 20px 50px 20px;
        text-align: center;
    }

    .hero-1,
    .hero-2 {
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
    }

    .hero img {
        width: 250px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 16px;
    }

    .hero h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

/* ================== END HERO SECTION ================== */

/* ================== MAIN INFO ================== */
.main-info {
    background-color: #04293B;
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.info-card {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-top: -150px;
}

.info-card h2 {
    font-size: 70px;
    color: #04293B;
    margin: 15px 0;
}

.info-card h3 {
    font-size: 25px;
    color: #04293B;
    margin: 15px 0;
}

.icon {
    width: 80px;
    height: 80px;
}

@media (max-width: 768px) {
    .main-info {
        background-color: #04293B;
        padding: 50px;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .info-card {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        flex: 1;
        margin-top: 0px;
    }

    .info-card h2 {
        font-size: 50px;
        color: #04293B;
        margin: 15px 0;
    }

    .info-card h3 {
        font-size: 20px;
        color: #04293B;
        margin: 15px 0;
    }

    .icon {
        width: 60px;
        height: 60px;
    }
}

/* ================== END MAIN INFO ================== */

/* ================== VISI ================== */
.visi {
    display: flex;
    gap: 50px;
    padding: 100px;
    align-items: center;
    background-color: #f9f9f9;
}

.visi-content {
    flex: 1;
}

.visi-content h2 {
    font-size: 40px;
    color: #04293B;
    margin-bottom: 20px;
}

.visi-content h3 {
    font-size: 20px;
    color: #04293B;
    margin-top: 30px;
    margin-bottom: 15px;
}

.visi-content p {
    font-size: 16px;
    color: #333;
    line-height: 1.8;
    margin-bottom: 15px;
}

.visi-content ul {
    margin-left: 20px;
    margin-top: 15px;
}

.visi-content li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.visi-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.visi-image img {
    width: 500px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .visi {
        flex-direction: column;
        padding: 50px;
        gap: 30px;
    }

    .visi-content h2 {
        font-size: 30px;
    }

    .visi-content h3 {
        font-size: 18px;
    }

    .visi-content p,
    .visi-content li {
        font-size: 14px;
    }
}

/* ================== END VISI ================== */

/* ================== MISI ================== */
.misi {
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: #04293B;
}

.misi>h2 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 50px;
    text-align: center;
}

.misi-content {
    display: flex;
    gap: 0;
    align-items: center;
}

.misi-content-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 0;
    align-items: center;
}

.misi-text {
    width: 50%;
    flex: 1;
}

.misi-text h2 {
    font-size: 30px;
    color: #ffffff;
    margin: 0px 100px;
    line-height: 1.5;
}

.misi-text p {
    font-size: 16px;
    color: #ffffff;
    margin: 0px 100px;
    line-height: 2;
}

.misi-image {
    width: 50%;
    flex: 1;
    display: flex;
    justify-content: center;
}

.misi-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .misi {
        padding: 50px;
    }

    .misi>h2 {
        font-size: 30px;
    }

    .misi-content {
        flex-direction: column-reverse;
    }

    .misi-content-reverse {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .misi-text {
        width: 50%;
        flex: 1;
        margin-bottom: 30px;
    }

    .misi-text h2 {
        font-size: 25px;
        color: #ffffff;
        margin: 0px;

    }

    .misi-text p {
        font-size: 12px;
        color: #ffffff;
        margin: 0px;

    }

    .misi-text {
        width: 100%;
        flex: 1;
    }

    .misi-image {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .misi-image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 15px;
    }
}

/* ================== END MISI ================== */

/* ================== PENGUMUMAN ================== */

/* ================== END PENGUMUMAN ================== */

/* ================== FOOTER ================== */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 32px;
    margin-top: 48px;
}

/* ================== END FOOTER ================== */